body {
    font-family: 'comic sans ms', sans-serif;
    line-height: 1.4;
    margin: 0;
    padding: 0;
    background-color: #A67B5B;
    min-height: 100vh;
}

h1 {
    background-color: #B7C68B;
    color: #4E342E;
    padding: 30px;
    text-align: center;
    font-size: 60px;
}

h2 {
    margin: 50px;
    text-align: center;
    font-size: 45px;
    color: #fff;
    margin-top: 100px;
}

.main-content {
    margin-top: 200px;
    margin-bottom: 100px;
    margin-left: 100px;
}

.left-center,
.center,
.right-center {
    display: inline-block;
    vertical-align: top;
}


.left-center,
.center {
    margin-right: 120px;
}

.left-center:hover,
.center:hover,
.right-center:hover {
    transform: scale(1.1);
}

.left-center,
.center,
.right-center {
    width: 700px;
    background-color: #F5E9DA;
    border-radius: 16px;
    padding: 32px;
    box-sizing: border-box;
    margin-bottom: 30px;
    transition: transform 0.3s;
}

.blog-image {
    width: 100%;
    height: 393.75px;
    border-radius: 8px;
    display: block;
    box-sizing: border-box;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    margin: 10px 0 0 0;
    box-sizing: border-box;
}

.box-link {
    text-decoration: none;
    color: inherit;
}

.blog-description:hover {
    text-decoration: underline;
}