body {
    font-family: 'comic sans ms', sans-serif;
    line-height: 1.4;
    margin: 0;
    padding: 0;
    background-color: #A67B5B;
    min-height: 100vh;
}

h1 {
    background-color: #B7C68B;
    color: #4E342E;
    padding: 30px;
    text-align: center;
    font-size: 60px;
}

h2 {
    margin: 50px;
    text-align: center;
    font: 1em comic sans ms;
    font-size: 45px;
    color: #fff;
}

.main-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
    margin-top: 100px;
    margin-bottom: 0;
    margin-left: 100px;
}

.left-center,
.center,
.right-center {
    min-height: 50px;
    width: 700px;
    background-color: #F5E9DA;
    border-radius: 16px;
    padding: 32px;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.blog-image {
    width: 100%;
    height: 393.75px;
    object-fit: cover;
    border-radius: 8px;
    display: block;
    box-sizing: border-box;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    margin: 10px 0 0 0;
    width: 670px;
    box-sizing: border-box;
}